In [45]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, Conv2D, MaxPool2D, Flatten
from keras.utils import np_utils

import cv2
import numpy as np
import pandas as pd
import os
# from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing

In [ ]:
import cv2
import numpy as np
import pandas as pd
import os

csv_file = "data_collection.csv"
columns = ['Serial_no.','Timestamp', 'x_actual', 'y_actual', 'direction', 'x_step', 'y_step']
data_df = pd.read_csv(csv_file, header=None, names = columns)
# data_df = pd.read_csv(csv_file, header=None)


# serial_numbers = data_df[0].apply(lambda x: int(x.split(',')[0]))
# new_data_df =
serial_numbers = data_df['Serial_no.'].astype(str).apply(lambda x: int(x.split(',')[0]))

image_folder = "output_images_new"
images = []
parsed_custom_info = []

# direction_encoder = LabelEncoder()
# direction_encoder.fit(data_df['direction'])

# data_df.apply(preprocessing.LabelEncoder().fit_transform(data_df['direction']))
le = preprocessing.LabelEncoder()
data_df['direction'] = le.fit_transform(data_df['direction'])

# for index, info in enumerate(data_df[0]):

for row in data_df.itertuples(index=False, name='Pandas'):
    # print(np.shape(row))
    # print(row)
    # components = str(row).split(',')
    # print(len(components))
    # serial_number = int(components[0])
    serial_number = data_df['Serial_no.']
    date_time = data_df['Timestamp']
    x_coordinate = data_df['x_actual']
    y_coordinate = data_df['y_actual']
    direction = data_df['direction']
    x_step = data_df['x_step']
    y_step = data_df['y_step']
    # date_time = components[1]
    # x_coordinate = float(components[2])
    # y_coordinate = float(components[3])
    # direction = components[4]
    # x_step = int(components[5])
    # y_step = int(components[6])
##########
#     for serial_number in serial_numbers:
#       image_name = None
#       for filename in os.listdir(image_folder):
#           if filename.startswith(str(serial_number)):
#               image_name = filename
#               break

#       if image_name is not None:
#           image_path = os.path.join(image_folder, image_name)
#           image = cv2.imread(image_path)
#           # Apply preprocessing steps, such as resizing or normalization, if required
#           images.append(image)
# ########
    # if x_coordinate != 'nan' and y_coordinate != 'nan':
    # if pd.notna(x_coordinate) and pd.notna(y_coordinate):
    # if not (pd.isna(x_coordinate) or pd.isna(y_coordinate)):
    # if ~(pd.isnull(x_coordinate) | pd.isnull(y_coordinate)):
    if ~(x_coordinate.empty and y_coordinate.empty):
      print("Hello")
      for serial_number in serial_numbers:
        image_name = None
        print("hm")
        for filename in os.listdir(image_folder):
            if filename.startswith(str(serial_number)):
                print("Hoow is thatt possible")
                image_name = filename
                break
        if image_name is not None:
          print("I'm HEREEEE")
          image_path = os.path.join(image_folder, image_name)
          image = cv2.imread(image_path)
          images.append(image)
          # direction_encoded = direction_encoder.transform([direction])[0]
          # image_name = f"{serial_number}_20230623_151258.943670.jpg"  # Adjust the image name format as needed
          # image_path = os.path.join(image_folder, image_name)
          # image = cv2.imread(image_path)
          # Apply preprocessing steps, such as resizing or normalization, if required
          # images.append(image)
          parsed_custom_info.append([serial_number, date_time, x_coordinate, y_coordinate,  direction, x_step, y_step])

data = list(zip(images, parsed_custom_info))

# Shuffle and split the dataset
np.random.shuffle(data)
train_ratio = 0.8
train_size = int(len(data) * train_ratio)

train_data = data[:train_size]
test_data = data[train_size:]

X_train = [item[0] for item in train_data]
Y_train = [item[1] for item in train_data]

X_test = [item[0] for item in test_data]
Y_test = [item[1] for item in test_data]

In [48]:
data_df.head()

,Serial_no.,Timestamp,x_actual,y_actual,direction,x_step,y_step
0,1,2023-06-23 15-13-00.249082,NaN,NaN,0,200,0
1,2,2023-06-23 15-13-04.203756,NaN,NaN,0,200,10
2,3,2023-06-23 15-13-08.211816,NaN,NaN,0,200,20
3,4,2023-06-23 15-13-12.283107,NaN,NaN,0,200,30
4,5,2023-06-23 15-13-16.171128,NaN,NaN,0,200,40

In [9]:
data_df.head()

,Serial_no.,Timestamp,x_actual,y_actual,direction,x_step,y_step
0,1,2023-06-23 15-13-00.249082,NaN,NaN,left,200,0
1,2,2023-06-23 15-13-04.203756,NaN,NaN,left,200,10
2,3,2023-06-23 15-13-08.211816,NaN,NaN,left,200,20
3,4,2023-06-23 15-13-12.283107,NaN,NaN,left,200,30
4,5,2023-06-23 15-13-16.171128,NaN,NaN,left,200,40

In [24]:
data_df.head()

,Serial_no.,Timestamp,x_actual,y_actual,direction,x_step,y_step
0,1,2023-06-23 15-13-00.249082,NaN,NaN,left,200,0
1,2,2023-06-23 15-13-04.203756,NaN,NaN,left,200,10
2,3,2023-06-23 15-13-08.211816,NaN,NaN,left,200,20
3,4,2023-06-23 15-13-12.283107,NaN,NaN,left,200,30
4,5,2023-06-23 15-13-16.171128,NaN,NaN,left,200,40

In [37]:
print(parsed_custom_info)

[]

In [49]:
print(np.shape(parsed_custom_info))

(2686, 7)

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:2007: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  result = asarray(a).shape

In [50]:
print(len(data))

2686

In [51]:
print(train_size)

2148

In [52]:
print(np.shape(train_data))

(2148, 2)

In [53]:
print(np.shape(test_data))

(538, 2)

In [54]:
print(len(X_train))

2148

In [1]:
print(np.shape(X_train))

NameError: ignored

In [26]:
print(np.shape(X_test))

(0,)

In [27]:
print(np.shape(Y_train))

(0,)

In [28]:
print(np.shape(Y_test))

(0,)

In [10]:
data_df[0]

KeyError: ignored

In [ ]:

# loading the dataset
# (X_train, y_train), (X_test, y_test) = cifar10.load_data()

# # building the input vector from the 32x32 pixels
X_train = X_train.reshape(X_train.shape[0], 32, 32, 3)
X_test = X_test.reshape(X_test.shape[0], 32, 32, 3)
X_train = X_train.astype('float32')
X_test = X_test.astype('float32')

# normalizing the data to help with the training
X_train /= 255
X_test /= 255

# one-hot encoding using keras' numpy-related utilities
n_classes = 10
print("Shape before one-hot encoding: ", y_train.shape)
Y_train = np_utils.to_categorical(y_train, n_classes)
Y_test = np_utils.to_categorical(y_test, n_classes)
print("Shape after one-hot encoding: ", Y_train.shape)

In [ ]:
# Step 2: Model Architecture
model = Sequential()
model.add(Conv2D(32, (3, 3), activation='relu', input_shape=(image_height, image_width, num_channels)))
model.add(MaxPooling2D((2, 2)))
model.add(Conv2D(64, (3, 3), activation='relu'))
model.add(MaxPooling2D((2, 2)))
model.add(Flatten())
model.add(Dense(64, activation='relu'))
model.add(Dense(custom_info_dim, activation='softmax'))  # Adjust activation based on the problem

In [ ]:
# Step 3: Training
model.compile(optimizer='adam', loss='categorical_crossentropy')  # Adjust loss based on the problem
model.fit(x_train, y_train, epochs=10, batch_size=32)  # Adjust the number of epochs and batch size as needed

In [ ]:
# Step 4: Evaluation
test_loss = model.evaluate(x_test, y_test)
print('Test Loss:', test_loss)

In [ ]:

# Step 5: Fine-Tuning and Optimization
# If the model's performance is not satisfactory, adjust the architecture, hyperparameters, or use regularization techniques